{% extends 'base.html' %}

{% load static %}

{% block style %}
  <link rel="stylesheet" href="{% static 'account/profile.css' %}">
{% endblock %}

{% block content %}
  <div class="profile">
    <div class="profile_image">
      {% if profile.0.image %}
        <img src="{{profile.0.image.url}}" alt="ProfileImage">
      {% endif %}
    </div>

    <div class="profile_information">
      <h2>{{profile.0.user.first_name}} (ID: {{profile.0.user.username}})</h2>
      <h3>{{profile.0.user.email}}</h3>
      <div>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Totam odit, voluptatum dignissimos cupiditate officiis doloribus possimus distinctio voluptas, dolorem eius inventore esse a dolor officia iure aperiam minima soluta commodi?</div>
    </div>
  </div>
  <div class="article_board">
    <div class="navibar">
      <a href="" class="link" onclick="displayPostOrColumn('posts', 'columns')">
        포스트
      </a>
      <a href="" class="link" onclick="displayPostOrColumn('columns','posts')">
        칼럼
      </a>
    </div>
    <div class="posts">

      {% for post in posts %}
      <div class="post">
        <a href="{% url 'myowncolumn:post_detail' post.id %}" class="post_image">
          <img src="{{post.image_set.all.0.image.url}}" alt="img">
        </a>
        <div class="post_info">
          <div class="created_at">{{post.created_at}}</div>
          <div class="tags">
            {% for tag in post.tags.all %}
              <span>#{{tag.tag}}</span>
            {% endfor %}
          </div>
        </div>
      </div>
      {% endfor %}

    </div>

    <div class="columns">

      {% for column in columns %}
      <div class="column">
        <a href="{% url 'myowncolumn:column_write' column.id %}" class="column_image">
          <img src="{{column.image.image.url}}" alt="img">
        </a>
        <div class="column_info">
          <div class="created_at">{{column.created_at}}</div>
          <div class="tags">
            {% for tag in column.tags.all %}
              <span>#{{tag.tag}} </span>
            {% endfor %}
          </div>
        </div>
      </div>
      {% endfor %}

    </div>
    
  </div>
{% endblock %}

{% block script %}

{% endblock %}