{% extends 'base.html' %}

{% load static %}


{% block style %}
 <link rel="stylesheet" href="{% static 'myowncolumn/post_write.css' %}">
{% endblock %}


{% block content %}

  <form action="{% url 'myowncolumn:post_write' %}" method="post" enctype="multipart/form-data" class="post_write">
    {% csrf_token %}

    <input type="file" name="post_images" id="post_images" multiple>
    
    <div class="preview_images">
      <div class="pre">&lt;</div>
      <div class="images_frame"></div>
      <div class="next">&gt;</div>
    </div>

    <div class="post_description">
      <textarea name="description" class="description" placeholder="간략한 글을 작성해주세요.(100자이내)"></textarea>
      <input type="text" placeholder="#해쉬태그" name="tag" class="tag">
      <button type="submit">작성하기</button>
    </div>

  </form>

{% endblock %}


{% block script %}

{% endblock %}