{% load static %}

<!DOCTYPE html>
<html lang="Ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'base.css' %}">
  {% block style %}

  {% endblock %}
  <title>WeSpot:우리가 발견한, 우리만의 여행!!</title>
</head>
<body>

  <div class="header">
    {% if user.is_authenticated %}

      <div class="account">
        <div class="welcome">{{user.username}} 님 환영합니다.</div>
        <form action="{% url 'account:logout' %}" method="post" class="logout">
          {% csrf_token %}
          <button type="submit" class="">로그아웃</button>
        </form>
      </div>

      <a href="" class="profile">
        <img src="{{profile.0.image.url}}" alt="Profile Image">
      </a>

    {% else %}

      <div class="account">
        <form action="{% url 'account:login' %}" method="post" class="login">
          {% csrf_token %}
          <div class="id">
            <input type="text" id="id" name="id" placeholder="아이디">
          </div>

          <div class="password">
            <label for="password">
            <input type="password" id="password" name="password" placeholder="비밀번호">
          </div>
          
          <button type="submit">로그인</button>
        </form>
        
        <a href="{% url 'account:sign_up' %}" class="sign_up">
          <button>회원가입</button>
        </a>
      </div>

    {% endif %}
  </div>

  {% block content %}

  {% endblock %}
</body>
  {% block script %}

  {% endblock %}
</html>