* {
  border: black solid 1px;
}

.post_write {
  width: 80%;
  margin-left: 10%;
}

.post_write #post_images {
  margin-top: 27vh;
}

.frames {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.frames .frame {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post_write .preview_images {
  display: flex;
  justify-content: center;
  align-items: center;
}

.preview_images .prev, .next {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font: 50px bolder; 
}

.preview_images .images_frame {
  width: 500px;
  height: 500px;
}

.images_frame .image {
  width: 500px;
  height: 500px;
  object-fit: contain;
}

.post_write .uploaded_images {
  /* width: 100%; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.uploaded_images .prev, .next {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font: 50px bolder; 
}

.uploaded_images .uploaded_images_frame {
  width: 500px;
  height: 500px;
}

.uploaded_images_frame .uploaded_image {
  width: 500px;
  height: 500px;
  object-fit: contain;
}

.post_write .post_description {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;   
}

.post_write .post_description .description {
  width: 80%;
  height: 20vh;
  margin-bottom: 20px;
}

.post_write .post_description .tag {
  width: 80%;
  height: 5vh;
}